body{
  text-align: center;
  background-color: #343a40;
}

/* Nabar */
.navbar{
  padding: 2% 10%;
  background-color: #343a40;
}
.navbar-toggler-icon{
  color: #c3c3c3;
}
a{
  color: #c3c3c3;
}

/* Information */
.info{
  background-color: #343a40;
  padding: 20px 10rem 0 10rem;
  /* color: #c3c3c3; */
}
.confirmed{
  color:#c3c3c3;
}

.active
{
  color:#0779e4;
}
.cured{
  color:#28a745;
}

.dead{
  color: #ff071a;
}

/* Map Section */
.map{
  margin: 5rem;
  width: 600px;
  height: 530px;
}
.map-data{
background-color: #343a40;
}
.fas{
  color: #c3c3c3;
}
.carousel-item{
  padding-bottom: 10px;
}

@media only screen and (max-width: 750px) {
  .info{
    text-align: center;
    padding: 70px 70px 20px 70px;
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 20px;
    margin-bottom: 20px;
  }
  table{
    font-size: 12px;
  }
  .map{
    margin: 0;
    width:300px;
    height: 300px;
  }
  .arrow{
    display: none;
  }
  p{
    font-size: 12px;
  }
  .limg{
    width: 20px;
  }
}

/* Table Section */
#data{
  background-color: #343a40;
  color: #c3c3c3;
  padding: 5% 0;
}
.data-set{
  padding: 0 10%;

}
table{
  background-color: #343a40;
  color: #c3c3c3;
}
tr{
  color: #c3c3c3;
}

tr:hover{
  color: #0779e4;
}

/* Graph Section */
#graphs{
  padding: 1% 10%;
  text-align: center;
}
canvas{
  margin: 3% auto;
}
.btn{
  background-color: #343a40;
  color:#c3c3c3;
  border :1px solid #c3c3c3;
}
.btn:hover{
  background-color: #c3c3c3;
  color: #343a40;
}

p{
  color: #c3c3c3;
}

.limg{
  width: 30px;
}
